.wrapper {
  width: 70%;
  justify-self: start;
}

.bt-free-trial {
  background-color: hsl(248, 32%, 49%);

  width: 40vw;
  height: 6vh;

  border-radius: 6px;
  border: none;
  box-shadow: 1px 8px 1px rgba(0, 0, 0, 0.144);

  font-weight: 400;
  color: white;
}

.bt-free-trial:hover {
  background-color: hsl(248, 42%, 57%);
  cursor: pointer;
}

.bt-free-trial:active {
  background-color: rgb(90, 80, 156);
}

.bt-free-trial span {
  font-weight: 700;
}

.form-wrapper {
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 4vh;
  width: 40vw;
  height: 50vh;
  padding: 3vh 0;

  border-radius: 8px;
  box-shadow: 1px 8px 1px rgba(0, 0, 0, 0.144);
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

input {
  margin: 1vh 0 1vh 0;
  width: 80%;
  height: 6vh;

  padding: 1px 2vw;

  border: 1px solid hsl(246, 25%, 77%);
  border-radius: 6px;

  font-size: 0.9em;
  font-weight: 700;
  caret-color: hsl(249, 10%, 26%);
}

input:focus {
  outline: none;
  border: 2px solid hsl(249, 10%, 26%);
}

.bt-claim {
  margin: 1vh 0 1vh 0;
  width: 90%;
  height: 6vh;

  border: none;
  border-radius: 6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.479);

  background-color: hsl(154, 59%, 51%);
  color: white;
  font-weight: 700;
  font-size: 1em;
}

.bt-claim:hover {
  background-color: hsl(154, 69%, 55%);
  cursor: pointer;
}

.bt-claim:active {
  background-color: hsla(154, 57%, 36%, 0.774);
}

.form-wrapper p {
  font-weight: 400;
  font-size: 0.6em;
  color: hsl(246, 25%, 77%);

  padding: 0 1vw;
}

.form-wrapper span {
  font-weight: 600;
  color: hsl(0, 100%, 74%);
}

@media only screen and (max-width: 700px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;

    justify-content: center;
    align-items: center;
  }

  .bt-free-trial {
    width: 100%;
    height: 8vh;
  }

  .form-wrapper {
    width: 100%;
    height: auto;

    margin-bottom: 4vh;
  }
}
